## Default dataset

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### 1. Load the datasets contained in the seaborn library
#### we can get the names of the datasets in the library by the following methods

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

### Load as a dataframe

In [3]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df=sns.load_dataset('anagrams')
df

    subidr    attnr  num1  num2  num3
0        1  divided     2   4.0     7
1        2  divided     3   4.0     5
2        3  divided     3   5.0     6
3        4  divided     5   7.0     5
4        5  divided     4   5.0     8
5        6  divided     5   5.0     6
6        7  divided     5   4.5     6
7        8  divided     5   7.0     8
8        9  divided     2   3.0     7
9       10  divided     6   5.0     6
10      11  focused     6   5.0     6
11      12  focused     8   9.0     8
12      13  focused     6   5.0     9
13      14  focused     8   8.0     7
14      15  focused     8   8.0     7
15      16  focused     6   8.0     7
16      17  focused     7   7.0     6
17      18  focused     7   8.0     6
18      19  focused     5   6.0     6
19      20  focused     6   6.0     5

In [5]:
df=sns.load_dataset('anscombe')
df

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [6]:
df=sns.load_dataset('attention')
df

    Unnamed: 0  subject attention  solutions  score
0            0        1   divided          1    2.0
1            1        2   divided          1    3.0
2            2        3   divided          1    3.0
3            3        4   divided          1    5.0
4            4        5   divided          1    4.0
5            5        6   divided          1    5.0
6            6        7   divided          1    5.0
7            7        8   divided          1    5.0
8            8        9   divided          1    2.0
9            9       10   divided          1    6.0
10          10       11   focused          1    6.0
11          11       12   focused          1    8.0
12          12       13   focused          1    6.0
13          13       14   focused          1    8.0
14          14       15   focused          1    8.0
15          15       16   focused          1    6.0
16          16       17   focused          1    7.0
17          17       18   focused          1    7.0
18          18       19   focused          1    5.0
19          19       20   focused          1    6.0
20          20        1   divided          2    4.0
21          21        2   divided          2    4.0
22          22        3   divided          2    5.0
23          23        4   divided          2    7.0
24          24        5   divided          2    5.0
25          25        6   divided          2    5.0
26          26        7   divided          2    4.5
27          27        8   divided          2    7.0
28          28        9   divided          2    3.0
29          29       10   divided          2    5.0
30          30       11   focused          2    5.0
31          31       12   focused          2    9.0
32          32       13   focused          2    5.0
33          33       14   focused          2    8.0
34          34       15   focused          2    8.0
35          35       16   focused          2    8.0
36          36       17   focused          2    7.0
37          37       18   focused          2    8.0
38          38       19   focused          2    6.0
39          39       20   focused          2    6.0
40          40        1   divided          3    7.0
41          41        2   divided          3    5.0
42          42        3   divided          3    6.0
43          43        4   divided          3    5.0
44          44        5   divided          3    8.0
45          45        6   divided          3    6.0
46          46        7   divided          3    6.0
47          47        8   divided          3    8.0
48          48        9   divided          3    7.0
49          49       10   divided          3    6.0
50          50       11   focused          3    6.0
51          51       12   focused          3    8.0
52          52       13   focused          3    9.0
53          53       14   focused          3    7.0
54          54       15   focused          3    7.0
55          55       16   focused          3    7.0
56          56       17   focused          3    6.0
57          57       18   focused          3    6.0
58          58       19   focused          3    6.0
59          59       20   focused          3    5.0

In [7]:
df=sns.load_dataset('planets')
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [8]:
df=sns.load_dataset('glue')
df

          Model  Year      Encoder  Task  Score
0         ERNIE  2019  Transformer  CoLA   75.5
1            T5  2019  Transformer  CoLA   71.6
2       RoBERTa  2019  Transformer  CoLA   67.8
3          BERT  2018  Transformer  CoLA   60.5
4   BiLSTM+ELMo  2018         LSTM  CoLA   32.1
..          ...   ...          ...   ...    ...
59         BERT  2018  Transformer   RTE   70.1
60  BiLSTM+ELMo  2018         LSTM   RTE   57.4
61  BiLSTM+CoVe  2017         LSTM   RTE   52.7
62  BiLSTM+Attn  2017         LSTM   RTE   58.4
63       BiLSTM  2017         LSTM   RTE   57.4

[64 rows x 5 columns]

### 2. scikit-learn datasets

In [9]:
from sklearn.datasets import fetch_california_housing

### Load data

In [10]:
housing=fetch_california_housing(as_frame=True)

In [11]:
df=housing['data'].join(housing['target'])
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## 3. pydataset

In [13]:
from pydataset import data

initiated datasets repo at: C:\Users\USER\.pydataset/

### check out the datasets

In [14]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

## Loading the BOD data set

In [20]:
df=data('BOD')
df

   Time  demand
1     1     8.3
2     2    10.3
3     3    19.0
4     4    16.0
5     5    15.6
6     7    19.8

In [17]:
df=data('cake')
df

     replicate recipe  temperature  angle  temp
1            1      A          175     42   175
2            1      A          185     46   185
3            1      A          195     47   195
4            1      A          205     39   205
5            1      A          215     53   215
..         ...    ...          ...    ...   ...
266         15      C          185     28   185
267         15      C          195     25   195
268         15      C          205     25   205
269         15      C          215     31   215
270         15      C          225     25   225

[270 rows x 5 columns]

In [18]:
df=data('sleepstudy')
df

     Reaction  Days  Subject
1    249.5600     0      308
2    258.7047     1      308
3    250.8006     2      308
4    321.4398     3      308
5    356.8519     4      308
..        ...   ...      ...
176  329.6076     5      372
177  334.4818     6      372
178  343.2199     7      372
179  369.1417     8      372
180  364.1236     9      372

[180 rows x 3 columns]

In [19]:
df=data('HairEyeColor')
df

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [21]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [22]:
data().iloc[20]

dataset_id                                               USJudgeRatings
title         Lawyers' Ratings of State Judges in the US Superior Court
Name: 20, dtype: object

In [23]:
df1 = data('USJudgeRatings')
df1

,CONT,INTG,DMNR,DILG,CFMG,DECI,PREP,FAMI,ORAL,WRIT,PHYS,RTEN
"AARONSON,L.H.",5.7,7.9,7.7,7.3,7.1,7.4,7.1,7.1,7.1,7.0,8.3,7.8
"ALEXANDER,J.M.",6.8,8.9,8.8,8.5,7.8,8.1,8.0,8.0,7.8,7.9,8.5,8.7
"ARMENTANO,A.J.",7.2,8.1,7.8,7.8,7.5,7.6,7.5,7.5,7.3,7.4,7.9,7.8
"BERDON,R.I.",6.8,8.8,8.5,8.8,8.3,8.5,8.7,8.7,8.4,8.5,8.8,8.7
"BRACKEN,J.J.",7.3,6.4,4.3,6.5,6.0,6.2,5.7,5.7,5.1,5.3,5.5,4.8
"BURNS,E.B.",6.2,8.8,8.7,8.5,7.9,8.0,8.1,8.0,8.0,8.0,8.6,8.6
"CALLAHAN,R.J.",10.6,9.0,8.9,8.7,8.5,8.5,8.5,8.5,8.6,8.4,9.1,9.0
"COHEN,S.S.",7.0,5.9,4.9,5.1,5.4,5.9,4.8,5.1,4.7,4.9,6.8,5.0
"DALY,J.J.",7.3,8.9,8.9,8.7,8.6,8.5,8.4,8.4,8.4,8.5,8.8,8.8
"DANNEHY,J.F.",8.2,7.9,6.7,8.1,7.9,8.0,7.9,8.1,7.7,7.8,8.5,7.9
"DEAN,H.H.",7.0,8.0,7.6,7.4,7.3,7.5,7.1,7.2,7.1,7.2,8.4,7.7
"DEVITA,H.J.",6.5,8.0,7.6,7.2,7.0,7.1,6.9,7.0,7.0,7.1,6.9,7.2
"DRISCOLL,P.J.",6.7,8.6,8.2,6.8,6.9,6.6,7.1,7.3,7.2,7.2,8.1,7.7
"GRILLO,A.E.",7.0,7.5,6.4,6.8,6.5,7.0,6.6,6.8,6.3,6.6,6.2,6.5
"HADDEN,W.L.JR.",6.5,8.1,8.0,8.0,7.9,8.0,7.9,7.8,7.8,7.8,8.4,8.0
"HAMILL,E.C.",7.3,8.0,7.4,7.7,7.3,7.3,7.3,7.2,7.1,7.2,8.0,7.6
HEALEY.A.H.,8.0,7.6,6.6,7.2,6.5,6.5,6.8,6.7,6.4,6.5,6.9,6.7
"HULL,T.C.",7.7,7.7,6.7,7.5,7.4,7.5,7.1,7.3,7.1,7.3,8.1,7.4
"LEVINE,I.",8.3,8.2,7.4,7.8,7.7,7.7,7.7,7.8,7.5,7.6,8.0,8.0
"LEVISTER,R.L.",9.6,6.9,5.7,6.6,6.9,6.6,6.2,6.0,5.8,5.8,7.2,6.0
"MARTIN,L.F.",7.1,8.2,7.7,7.1,6.6,6.6,6.7,6.7,6.8,6.8,7.5,7.3
"MCGRATH,J.F.",7.6,7.3,6.9,6.8,6.7,6.8,6.4,6.3,6.3,6.3,7.4,6.6
"MIGNONE,A.F.",6.6,7.4,6.2,6.2,5.4,5.7,5.8,5.9,5.2,5.8,4.7,5.2
"MISSAL,H.M.",6.2,8.3,8.1,7.7,7.4,7.3,7.3,7.3,7.2,7.3,7.8,7.6
"MULVEY,H.M.",7.5,8.7,8.5,8.6,8.5,8.4,8.5,8.5,8.4,8.4,8.7,8.7
"NARUK,H.J.",7.8,8.9,8.7,8.9,8.7,8.8,8.9,9.0,8.8,8.9,9.0,9.0
"O'BRIEN,F.J.",7.1,8.5,8.3,8.0,7.9,7.9,7.8,7.8,7.8,7.7,8.3,8.2
"O'SULLIVAN,T.J.",7.5,9.0,8.9,8.7,8.4,8.5,8.4,8.3,8.3,8.3,8.8,8.7
"PASKEY,L.",7.5,8.1,7.7,8.2,8.0,8.1,8.2,8.4,8.0,8.1,8.4,8.1
"RUBINOW,J.E.",7.1,9.2,9.0,9.0,8.4,8.6,9.1,9.1,8.9,9.0,8.9,9.2
SADEN.G.A.,6.6,7.4,6.9,8.4,8.0,7.9,8.2,8.4,7.7,7.9,8.4,7.5
"SATANIELLO,A.G.",8.4,8.0,7.9,7.9,7.8,7.8,7.6,7.4,7.4,7.4,8.1,7.9
"SHEA,D.M.",6.9,8.5,7.8,8.5,8.1,8.2,8.4,8.5,8.1,8.3,8.7,8.3
"SHEA,J.F.JR.",7.3,8.9,8.8,8.7,8.4,8.5,8.5,8.5,8.4,8.4,8.8,8.8
"SIDOR,W.J.",7.7,6.2,5.1,5.6,5.6,5.9,5.6,5.6,5.3,5.5,6.3,5.3
"SPEZIALE,J.A.",8.5,8.3,8.1,8.3,8.4,8.2,8.2,8.1,7.9,8.0,8.0,8.2
"SPONZO,M.J.",6.9,8.3,8.0,8.1,7.9,7.9,7.9,7.7,7.6,7.7,8.1,8.0
"STAPLETON,J.F.",6.5,8.2,7.7,7.8,7.6,7.7,7.7,7.7,7.5,7.6,8.5,7.7
"TESTO,R.J.",8.3,7.3,7.0,6.8,7.0,7.1,6.7,6.7,6.7,6.7,8.0,7.0
"TIERNEY,W.L.JR.",8.3,8.2,7.8,8.3,8.4,8.3,7.7,7.6,7.5,7.7,8.1,7.9
"WALL,R.A.",9.0,7.0,5.9,7.0,7.0,7.2,6.9,6.9,6.5,6.6,7.6,6.6
"WRIGHT,D.B.",7.1,8.4,8.4,7.7,7.5,7.7,7.8,8.2,8.0,8.1,8.3,8.1
"ZARRILLI,K.J.",8.6,7.4,7.0,7.5,7.5,7.7,7.4,7.2,6.9,7.0,7.8,7.1

In [24]:
df1.isnull().mean()*100

CONT    0.0
INTG    0.0
DMNR    0.0
DILG    0.0
CFMG    0.0
DECI    0.0
PREP    0.0
FAMI    0.0
ORAL    0.0
WRIT    0.0
PHYS    0.0
RTEN    0.0
dtype: float64