In [1]:
import numpy as np
import pandas as pd
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
import dtale
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('covid19.csv')
df.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa
5,NaN,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas
6,NaN,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas
7,NaN,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe
8,Australian Capital Territory,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific
9,New South Wales,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific

In [3]:
df.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [4]:
df.shape

(49068, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [6]:
df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [7]:
df.isnull().mean()*100

Province/State    70.114943
Country/Region     0.000000
Lat                0.000000
Long               0.000000
Date               0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
Active             0.000000
WHO Region         0.000000
dtype: float64

### percentage of null value in province/state column is 70% so drop the column

In [8]:
df=df.drop(columns=['Province/State'])

In [9]:
df

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

### checking the contents in date column

In [10]:
df.Date.unique()

array(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
       '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
       '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
       '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
       '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02',
       '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
       '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10',
       '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14',
       '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
       '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22',
       '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
       '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30',
       '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
       '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
       '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
       '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16',
       '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20',
       '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24',
       '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28',
       '2020-05-29', '2020-05-30', '2020-05-31', '2020-06-01',
       '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
       '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09',
       '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13',
       '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17',
       '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21',
       '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
       '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
       '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
       '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07',
       '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11',
       '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15',
       '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19',
       '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
       '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27'],
      dtype=object)

In [11]:
df['Date']=pd.to_datetime(df.Date)
df.head(10)

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa
5,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas
6,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas
7,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe
8,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific
9,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Date            49068 non-null  datetime64[ns]
 4   Confirmed       49068 non-null  int64
 5   Deaths          49068 non-null  int64
 6   Recovered       49068 non-null  int64
 7   Active          49068 non-null  int64
 8   WHO Region      49068 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.4+ MB

### Extracting year month day from the date column

In [13]:
df['Year']=pd.DatetimeIndex(df.Date).year
df['Month']=pd.DatetimeIndex(df.Date).month
df['Day']=pd.DatetimeIndex(df.Date).day
df.head(10)

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region,Year,Month,Day
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa,2020,1,22
5,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas,2020,1,22
6,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas,2020,1,22
7,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe,2020,1,22
8,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific,2020,1,22
9,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific,2020,1,22

#### Droping lat,long,date columns

In [14]:
df.drop(columns=['Lat','Long','Date'], inplace=True)

#### Lets convert month numbers to their corresponding names

In [15]:
df.Month.replace({
    1:"January",
    2:"February",
    3:"March",
    4:"April",
    5:"May",
    6:"June",
    7:"July",
    8:"August",
    9:"September",
    10:"October",
    11:"November",
    12:"December"
}, inplace=True)
df.sample(100)

,Country/Region,Confirmed,Deaths,Recovered,Active,WHO Region,Year,Month,Day
8746,Ireland,0,0,0,0,Europe,2020,February,24
13256,Tanzania,0,0,0,0,Africa,2020,March,12
22568,Guinea,477,3,59,415,Africa,2020,April,17
24701,Netherlands,37190,4409,0,32781,Europe,2020,April,25
42092,China,320,3,310,7,Western Pacific,2020,July,1
...,...,...,...,...,...,...,...,...,...
34333,Kuwait,27762,220,12899,14643,Eastern Mediterranean,2020,June,1
8172,Colombia,0,0,0,0,Americas,2020,February,22
22415,Grenada,14,0,0,14,Americas,2020,April,16
36969,New Zealand,1504,22,1482,0,Western Pacific,2020,June,11
189,San Marino,0,0,0,0,Europe,2020,January,22

### Rename column Country/Region to region

In [16]:
df.rename(columns = {'Country/Region':'Region'}, inplace = True)
df.head(10)

,Region,Confirmed,Deaths,Recovered,Active,WHO Region,Year,Month,Day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,January,22
1,Albania,0,0,0,0,Europe,2020,January,22
2,Algeria,0,0,0,0,Africa,2020,January,22
3,Andorra,0,0,0,0,Europe,2020,January,22
4,Angola,0,0,0,0,Africa,2020,January,22
5,Antigua and Barbuda,0,0,0,0,Americas,2020,January,22
6,Argentina,0,0,0,0,Americas,2020,January,22
7,Armenia,0,0,0,0,Europe,2020,January,22
8,Australia,0,0,0,0,Western Pacific,2020,January,22
9,Australia,0,0,0,0,Western Pacific,2020,January,22

#### Rename column WHO Region to WHO_Region

In [17]:
df.rename(columns = {'WHO Region':'WHO_Region'}, inplace = True)
df.head(10)

,Region,Confirmed,Deaths,Recovered,Active,WHO_Region,Year,Month,Day
0,Afghanistan,0,0,0,0,Eastern Mediterranean,2020,January,22
1,Albania,0,0,0,0,Europe,2020,January,22
2,Algeria,0,0,0,0,Africa,2020,January,22
3,Andorra,0,0,0,0,Europe,2020,January,22
4,Angola,0,0,0,0,Africa,2020,January,22
5,Antigua and Barbuda,0,0,0,0,Americas,2020,January,22
6,Argentina,0,0,0,0,Americas,2020,January,22
7,Armenia,0,0,0,0,Europe,2020,January,22
8,Australia,0,0,0,0,Western Pacific,2020,January,22
9,Australia,0,0,0,0,Western Pacific,2020,January,22

In [18]:
dtale.show(df)