## Type casting with pandas

In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Car_sales.csv')
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
7,BMW,323i,19.747,NaN,Passenger,26.990,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.0,6/28/2011,71.191207
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,174.7,2.468,12.7,30.0,3/31/2012,44.083709
91,Mercury,Villager,20.380,14.795,Car,22.510,3.3,170.0,112.2,74.9,194.7,3.944,20.0,21.0,10/20/2009,69.671461
86,Mercury,Mystique,14.351,8.800,Passenger,16.240,2.0,125.0,106.5,69.1,184.8,2.769,15.0,28.0,12/19/2012,50.997748
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,177.1,4.125,21.1,20.0,3/17/2011,139.982294
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33.0,9/11/2011,48.297636
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,201.4,3.948,25.0,22.0,6/25/2011,76.096570
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,8/27/2011,47.638237
101,Nissan,Sentra,42.643,8.450,Passenger,13.499,1.8,126.0,99.8,67.3,177.5,2.593,13.2,30.0,8/31/2011,50.241978
132,Saturn,LW,8.472,NaN,Passenger,18.835,2.2,137.0,106.5,69.0,190.4,3.075,13.1,27.0,8/5/2011,56.295243

In [3]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

### Checking the contents in latest launch column

In [4]:
df.Latest_Launch.unique()

array(['2/2/2012', '6/3/2011', '3/10/2011', '10/8/2011', '8/9/2011',
       '2/27/2012', '1/29/2012', '4/4/2011', '11/2/2011', '9/3/2011',
       '3/23/2012', '7/23/2011', '2/23/2012', '11/27/2011', '9/28/2011',
       '8/17/2011', '3/19/2012', '5/24/2011', '12/22/2011', '10/23/2011',
       '5/12/2012', '9/11/2011', '4/13/2012', '1/16/2012', '11/17/2011',
       '6/6/2012', '10/6/2011', '5/8/2012', '12/12/2011', '7/1/2012',
       '10/31/2011', '8/7/2011', '3/6/2012', '1/6/2012', '7/26/2012',
       '11/25/2011', '9/1/2011', '3/31/2012', '1/31/2012', '8/20/2012',
       '12/20/2011', '9/26/2011', '4/25/2012', '2/25/2012', '9/14/2012',
       '1/14/2012', '8/16/2012', '10/21/2011', '5/20/2012', '3/21/2012',
       '10/9/2012', '2/8/2012', '9/10/2012', '11/15/2011', '6/14/2012',
       '4/15/2012', '3/4/2012', '10/5/2012', '12/10/2011', '7/9/2012',
       '5/10/2012', '3/29/2012', '8/3/2012', '6/4/2012', '4/23/2012',
       '11/24/2012', '8/28/2012', '6/29/2012', '1/17/2012', '5/18/2012',
       '12/19/2012', '9/22/2012', '7/24/2012', '2/13/2008', '10/20/2009',
       '4/24/2011', '7/12/2011', '6/13/2011', '3/17/2011', '8/31/2011',
       '8/2/2011', '5/6/2011', '3/7/2011', '9/25/2011', '5/31/2011',
       '2/18/2011', '9/21/2011', '6/25/2011', '4/26/2011', '11/14/2011',
       '1/25/2012', '11/26/2012', '6/16/2012', '10/15/2012', '5/18/2011',
       '2/19/2012', '12/21/2012', '7/11/2011', '3/16/2011', '1/15/2011',
       '4/11/2011', '2/10/2011', '12/29/2012', '8/1/2011', '1/24/2011',
       '8/27/2011', '10/30/2012', '4/1/2011'], dtype=object)

### change its dtype into datetime

In [5]:
df['Latest_Launch']=pd.to_datetime(df.Latest_Launch)
df.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 15.5+ KB

### Extracting year,month,day from the Latest_launch column

In [7]:
df['Year']=pd.DatetimeIndex(df.Latest_Launch).year
df['Month']=pd.DatetimeIndex(df.Latest_Launch).month
df['Day']=pd.DatetimeIndex(df.Latest_Launch).day
df.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,9
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858,2012,2,27
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069,2012,1,29
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724,2011,4,4
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451,2011,11,2
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703,2011,9,3

### Lets convert the data type of Fuel_efficiency into integer

In [8]:
df.Fuel_efficiency=df.Fuel_efficiency.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  Year                 117 non-null    int64
 17  Month                117 non-null    int64
 18  Day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

### converting numerical column to categorical column
##### lets convert the month numbers to their corresponding names

In [9]:
df.Month.replace({
    1:"January",
    2:"February",
    3:"March",
    4:"April",
    5:"May",
    6:"June",
    7:"July",
    8:"August",
    9:"September",
    10:"October",
    11:"November",
    12:"December"
}, inplace=True)
df.sample(100)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.567,12.5,29,2011-12-12,52.084899,2011,December,12
102,Nissan,Altima,88.094,11.295,Passenger,20.390,2.4,155.0,103.1,69.1,183.5,3.012,15.9,25,2011-08-02,63.313728,2011,August,2
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17,2012-03-06,90.211700,2012,March,6
108,Oldsmobile,Cutlass,1.112,11.240,Passenger,18.145,3.1,150.0,107.0,69.4,192.0,3.102,15.2,25,2011-05-31,60.861612,2011,May,31
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,180.0,2.367,12.1,33,2011-03-16,40.700072,2011,March,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19,2012-04-25,87.635496,2012,April,25
114,Plymouth,Neon,32.734,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.559,12.5,29,2011-04-26,52.084899,2011,April,26
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,167.5,3.194,20.0,20,2012-10-05,76.584440,2012,October,5
43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,215.0,3.557,22.0,19,2011-11-25,49.645002,2011,November,25
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,175.1,2.339,11.9,32,2011-10-21,42.879097,2011,October,21

### Label encoder

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
df["Le_Vehicle"]=le.fit_transform(df.Vehicle_type)

In [14]:
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,178.3,3.510,19.5,20,2012-05-18,70.660942,2012,May,18,0
137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,188.5,2.998,18.5,27,2011-02-10,54.372420,2011,February,10,1
118,Pontiac,Sunfire,51.645,13.790,Passenger,21.610,2.4,150.0,104.1,68.4,181.9,2.906,15.0,27,2012-01-25,62.015870,2012,January,25,1
124,Porsche,Boxter,8.982,41.250,Passenger,41.430,2.7,217.0,95.2,70.1,171.0,2.778,17.0,22,2012-02-19,93.437331,2012,February,19,1
131,Saturn,SW,5.223,10.790,Passenger,14.290,1.9,124.0,102.4,66.4,176.9,2.452,12.1,31,2011-01-15,49.865774,2011,January,15,1
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,180.0,2.367,12.1,33,2011-03-16,40.700072,2011,March,16,1
70,Lexus,ES300,24.072,26.975,Passenger,31.505,3.0,210.0,105.1,70.5,190.2,3.373,18.5,23,2012-07-09,87.211001,2012,July,9,1
104,Nissan,Quest,27.308,15.380,Car,26.399,3.3,170.0,112.2,74.9,194.8,3.991,20.0,21,2011-03-07,71.171664,2011,March,7,0
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1
129,Saturn,SL,80.620,9.200,Passenger,10.685,1.9,100.0,102.4,66.4,176.9,2.332,12.1,33,2012-08-16,39.986425,2012,August,16,1

In [15]:
df["Le_Manufacturer"]=le.fit_transform(df.Manufacturer)
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,...,3.590,17.5,24,2011-05-18,82.661356,2011,May,18,1,21
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,...,4.125,21.1,20,2011-03-17,139.982294,2011,March,17,1,15
81,Mitsubishi,Galant,55.616,10.595,Passenger,17.357,2.4,145.0,103.7,68.5,...,2.945,16.3,25,2012-01-29,58.606773,2012,January,29,1,17
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,...,3.032,17.0,21,2012-12-21,134.390975,2012,December,21,1,22
114,Plymouth,Neon,32.734,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,...,2.559,12.5,29,2011-04-26,52.084899,2011,April,26,1,20
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,...,3.075,17.0,23,2011-07-11,135.914710,2011,July,11,1,22
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,...,2.398,13.2,33,2011-09-11,48.297636,2011,September,11,1,5
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,...,4.133,23.2,21,2011-06-13,125.273876,2011,June,13,1,15
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,...,3.564,17.0,23,2012-05-08,101.329281,2012,May,8,1,6
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,3.948,25.0,22,2011-06-25,76.096570,2011,June,25,0,19

In [18]:
len(df.Manufacturer.unique())

26

In [19]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,...,2.639,13.2,28,2012-02-02,58.280150,2012,February,2,1,0
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,...,3.517,17.2,25,2011-06-03,91.370778,2011,June,3,1,0
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,...,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1,0
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,October,8,1,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,...,2.767,14.5,26,2011-01-24,46.943877,2011,January,24,1,25
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,...,2.853,14.5,26,2011-08-27,47.638237,2011,August,27,1,25
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,...,3.043,16.4,27,2012-10-30,61.701381,2012,October,30,1,25
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,...,3.079,13.7,26,2011-05-31,48.907372,2011,May,31,1,25
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,...,2.762,14.6,26,2011-04-01,47.946841,2011,April,1,1,25

In [20]:
df["Le_Model"]=le.fit_transform(df.Model)
df.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Year,Month,Day,Le_Vehicle,Le_Manufacturer,Le_Model
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92.0,96.1,65.7,...,11.9,31,2012-09-10,36.672284,2012,September,10,1,10,7
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,...,19.1,22,2012-05-12,141.141150,2012,May,12,1,5,36
145,Volkswagen,Golf,9.761,11.425,Passenger,14.900,2.0,115.0,98.9,68.3,...,14.5,26,2011-01-24,46.943877,2011,January,24,1,25,56
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,...,15.3,24,2012-03-21,60.087967,2012,March,21,0,9,18
111,Oldsmobile,Aurora,14.690,19.890,Passenger,36.229,4.0,250.0,113.8,74.4,...,18.5,22,2011-02-18,103.441693,2011,February,18,1,19,10
115,Plymouth,Breeze,5.240,9.800,Passenger,16.080,2.0,132.0,108.0,71.0,...,16.0,27,2011-11-14,53.411898,2011,November,14,1,20,16
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,...,18.5,22,2011-08-09,84.565105,2011,August,9,1,1,5
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,...,16.6,24,2012-01-29,81.877069,2012,January,29,1,2,1
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,...,15.7,24,2012-01-31,76.509185,2012,January,31,1,8,77
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,...,15.0,25,2012-03-19,67.314462,2012,March,19,1,5,69